/* 
Needs media query at 800px width into mobile format
*/

@media only screen and (min-width: 800px) {
    .portfolio-container {
        background-color: transparent;
        
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-content: center;

        height: calc(100vh - 150px);
        width: 100vw;
    }

    .portfolio-card-style {
        height: 300px;
        width: 250px;
        margin: 20px;

        background-color: transparent;
        border: 2px solid grey;

        display: grid;
        grid-template-rows: 50% 50%;
    }

    .portfolio-card-style:focus {outline:0;}

    .portfolio-card-style:hover {cursor: grab;}

    .portfolio-card-style:active {
        cursor: grabbing;
        border-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-image-slice: 1;
    }

    .portfolio-card-img {
        grid-row-start: 1;
        justify-self: center;
        align-self: center;
        height: 100px;
    }

    .portfolio-card-bottom {
        grid-row-start: 2;
        background-color: whitesmoke;
        height: 100%;

        display: grid;
        align-content: center;
        text-align: center;
    }

    #bottom-title {
        font-size: 1.2em;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #222831;
    }

    a:visited {
        text-decoration: none;
        color: #222831;
    }
}

/*
*****************************************
*   EVERYTHING BELOW IS FOR MOBILE NAV  *
*****************************************
*/

@media only screen and (max-width: 800px) {
    .portfolio-container {
        background-color: transparent;
        
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-content: center;

        height: calc(100vh - 200px);
        width: 100vw;
    }

    .portfolio-card-style {
        height: 300px;
        width: 250px;
        margin: 20px;

        background-color: transparent;
        border: 2px solid grey;

        display: grid;
        grid-template-rows: 50% 50%;
    }

    .portfolio-card-style:focus {outline:0;}

    .portfolio-card-style:hover {cursor: grab;}

    .portfolio-card-style:active {
        cursor: grabbing;
        border-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-image-slice: 1;
    }

    .portfolio-card-img {
        grid-row-start: 1;
        justify-self: center;
        align-self: center;
        height: 100px;
    }

    .portfolio-card-bottom {
        grid-row-start: 2;
        background-color: whitesmoke;
        height: 100%;

        display: grid;
        align-content: center;
        text-align: center;
    }

    #bottom-title {
        font-size: 1.2em;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #222831;
    }

    a:visited {
        text-decoration: none;
        color: #222831;
    }
}