.couples-gallery-container {
    height: 90vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.couples-gallery {
    width: 75vw;
    height: 75vh;

    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
}

.couples-thumbnail {
    height: 100px;
    margin: 20px;
    padding: 5px;
    background-color: white;
}