/* 
Needs media query at 1300px width to a smaller format
Then needs smaller query for mobile format
*/

@media only screen and (min-width: 800px) {
    .about-page {
        display: flex;
        flex-wrap: wrap;
    }

    .main-container {
        height: calc(100vh - 150px);
        width: 100vw;

        display: flex;
        flex-wrap: wrap;

        align-content: center;
        justify-content: center;
    }

    .big-words {
        justify-self: center;
        justify-items: center;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #i-am {
        align-self: flex-end;

        font-size: 12em;
        font-weight: 900;
        text-align: left;

        margin-bottom: -20px;
    }

    #headshot {
        height: 140px;
        width: 135px;
    }

    #a-developer {
        grid-row-start: 2;

        align-self: flex-start;
        margin-top: -20px;

        font-size: 5em;
        font-weight: 900;
        text-align: center;
        width: 100%;
    }

    #research-scientist {
        width: 100%;

        font-size: 4em;
        font-weight: 900;
        text-align: center;
    }

    .horizontal-line {
        background-color: #222831;
        height: 2px;
        width: 50vw;
        margin-top: 20px;
    }

    .social-icons {
        width: 100vw;

        margin-top: 20px;

        font-size: 1.5em;
        font-weight: bold;

        justify-content: center;
        display: grid;
        grid-template-columns: 25% 15% 15% 15% 25%;
    }

    .social {
        height: 100px;
        width: 100px;

        align-self: center;
        justify-self: center;
    }

    #social1{ grid-column-start: 2; }
    #social2{ grid-column-start: 3; }
    #social3{ grid-column-start: 4; }

    .social:hover {cursor: grab;}

    .social:active {
        cursor: grabbing;
    }

    .down-arrow {
        width: 100vw;
        height: 50px;

        font-size: 4em;
        text-align: center;
        margin-top: 50px;
    }

    .learn-more {
        width: auto;
        height: auto;
        padding: 10px;
        margin-top: 25px;

        font-size: 2em;

        border: 2px solid #222831;

        display: flex;
        align-self: center;
        justify-content: center;
    }

    .learn-more:active {
        cursor: grabbing;
        border-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-image-slice: 1;
    }

    .second-block-container {
        height: 100vh;
        width: 100vw;
        
        scroll-snap-type: y mandatory;

        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        /* align-content: center; */
    }

    .about-info {
        height: 100%;
        width: 75%;

        display: flex;
        flex-wrap: wrap;
        /* align-items: flex-start; */
        justify-content: center;

        text-align: center;
    }

    .about-content {
        margin: 0px;
    }

    .about-header {
        font-family: 'Nunito', sans-serif;
        font-size: 2em;
        width: 100%;
    }

    #about-ul {
        text-align: left;
    }

    .resume {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .resume-button {
        width: 30vw;
        border: 2px solid #222831;
        font-size: 5em;

        display: flex;
        justify-content: center;
    }

    .resume-button:hover {cursor: grab;}

    .resume-button:focus {outline:0;}

    .resume-button:active {
        cursor: grabbing;
        border-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-image-slice: 1;
    }

    a { text-decoration: none; }

    a:hover { cursor: grab; }

}

/*
*************************************
*   EVERYTHING BELOW IS FOR MOBILE  *
*************************************
*/

@media only screen and (max-width: 800px) {
    .about-page {
        display: flex;
        flex-wrap: wrap;
    }

    .main-container {
        height: calc(100vh - 300px);
        width: 100vw;

        display: flex;
        flex-wrap: wrap;

        align-content: center;
        justify-content: center;
    }

    .big-words {
        justify-self: center;
        justify-items: center;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #i-am {
        align-self: flex-end;

        font-size: 5em;
        font-weight: 900;
        text-align: left;

        margin-bottom: -15px;
    }

    #headshot {
        height: 60px;
        width: 58px;
    }

    #a-developer {
        grid-row-start: 2;

        align-self: flex-start;
        /* margin-top: -20px; */

        font-size: 2.12em;
        font-weight: 900;
        text-align: center;
        width: 100%;
    }

    #research-scientist {
        width: 100%;

        font-size: 1.7em;
        font-weight: 900;
        text-align: center;
    }

    .horizontal-line {
        background-color: #222831;
        height: 2px;
        width: 70vw;
        margin-top: 20px;
    }

    .social-icons {
        width: 100vw;

        margin-top: 20px;

        font-size: 1.5em;
        font-weight: bold;

        justify-items: center;
        display: grid;
        grid-template-columns: 25% 15% 15% 15% 25%;
    }

    .social {
        height: 50px;
        width: 50px;

        align-self: center;
        justify-self: center;
    }

    #social1{ grid-column-start: 2; }
    #social2{ grid-column-start: 3; }
    #social3{ grid-column-start: 4; }

    .social:hover {cursor: grab;}

    .social:active {
        cursor: grabbing;
    }

    .down-arrow {
        width: 100vw;
        height: 50px;

        font-size: 2em;
        text-align: center;
        margin-top: 50px;
    }

    .second-block-container {
        display: flex;
        height: 100vh;
        width: 100vw;

        scroll-snap-type: y mandatory;

        justify-content: center;
        align-content: center;
    }

    .resume {
        border: 2px solid #222831;;
        width: auto;
        height: auto;
        padding: 10px;

        font-size: 3em;

        display: flex;
        align-self: center;
        justify-content: center;
    }

    .resume:hover {cursor: grab; font-size: 5.1em; }

    .resume:focus {outline:0;}

    .resume:active {
        cursor: grabbing;
        border-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-image-slice: 1;
    }

    a { text-decoration: none; }

    a:hover { cursor: grab; }

}