.about-container {
    position: relative;
    top: 200px;
    grid-row-start: 2;
    
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 50px;
    
    text-align: left;
}

.about-title {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    grid-column-start: 2;

    margin-bottom: -1em;
}

.about-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 3.5em;
    grid-column-start: 2;

    margin-bottom: -0.75em;
}

.main-content {
    grid-column-start: 2;
    margin-left: 50px;
    font-size: 1.75em;
    text-align: justify;
    
    list-style-type: none;
}