@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.navigation-container {
    height: 100px;
    width: 100vw;

    /* background-color: black; */
    position: absolute;
    bottom: 0px;

    color: #ff8f0d;
    font-family: 'VT323', monospace;
    font-size: 2.5em;
    
    display: flex;
}

.name {
    height: 75%;
    width: 24vw;

    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav {
    height: 75%;
    width: 74vw;

    display: flex;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    align-items: center;
}

ul {
    list-style: none;
}

li {
    height: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

a {
  text-decoration: none;
  color: #ff8f0d;
}

a:visited {
  color: #ff8f0d;
}

#submenu {
	opacity: 0;
	position: absolute;
	bottom: 75px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu {
	opacity: 1;
	bottom: 75px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}

#submenu li {
	float: none;
	width: 100%;
}

.main-wrapper {
  height: 90vh;
  width: 100vw;
  display: flex;
  position: absolute;
  z-index: -1;
}

#top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 75px;
}

#top-left {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 200px;
  width: 75px;
}