body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  font-family: 'Raleway', sans-serif;
  /* color: #222831; */
  color: whitesmoke;

  display: flex;
  flex-wrap: wrap;

  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
