body, html {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Nunito', sans-serif; */

  display: grid;
  grid-template-rows: 150px auto;
  background-image: url("nav-background.png");
  background-size: 100%;
  background-repeat: repeat-y;
  color: #222831;
}